<div class="row">

    	<% @fights.each do |fight| %>
	    	<%= link_to fight, class:'niceLink'   do %>
			<div class="col-lg-4 col-sm-6 text-center" >
				
				<div class="fight">
					<span class="spanFight">
					<%= fight.first.lastname %> </br>VS</br>
					<%=	fight.second.lastname %> 

					</span>
				</div>
			</div>
			<%end%>
		<% end %>

</div>

<%= will_paginate @fights %>