<div class="row">

    	<% @fights.each do |fight| %>
	    	<%= link_to fight, class:'niceLink'   do %>
			<div class="col-lg-4 col-sm-6 text-center" >
				
				<div style=" border: 2px solid;
				border-radius: 150px; height:200px; line-height: 200px !important; margin-bottom: 30px; font-size: 150%;">
					<span style="  display: inline-block;
					vertical-align: middle;line-height: 30px; ">
					<%= fight.first.lastname %> </br>VS</br>
					<%=	fight.second.lastname %> 

					</span>
				</div>
			</div>
			<%end%>
		<% end %>
</div>