
<%= image_tag @fight.first.avatar.url(:medium), 
class: "img-circle img-responsive img-center"%>

<h1 class="text-center"> VS </h1>

<%= image_tag @fight.second.avatar.url(:medium),
class: "img-circle img-responsive img-center" %>
